header {
  height: 50px;
  background-color: orange;
  color: white;
}

main {
  height: 400px;
  padding: 0 0 0 10px;

}


#footer {
  height: 50px;
  background-color: orange;
    color: white;
}

#addTask{
  margin-top: 10px;
}

#new_task{
  width: 320px;
  height: 40px;
}

.theList {
  list-style: none;
}

.theList li{
    border: solid black 1px;
    height: 40px;
    padding: 4px 0 2px 2px;
}

li:nth-child(even) {
    background-color: lightgray;
}
